{% extends 'base.html' %}
<html>

  <head>
    {% block head %}
    <title> Information </title>
    {% endblock %}

    {% block content %}
    <body style="background-color:#E7C8DD">

    <center>
      <br>
      <div class="callout primary" data-closable="slide-out-right">
    <h3> You requested information on {{dStr}}!</h3>
   </div>
   <br>


         <div class="container bg-light">
           <table class="table table-bordered table-hover">
             <thead class="thead-dark">
               <tr>
                 <th scope="col">Information</th>
                 {% for each in eList %}
                 <th> scope="col" {{each}} </th>
                 {% endfor %}

               </tr>
             </thead>
             <tbody>
               <tr>
                 <th scope="row">Mass</th>
                 {% for each in mList %}
                 <td> {{each}} </td>
                 {% endfor %}
               </tr>
               <tr class="table-primary">
                 <th scope="row">Electronegativity</th>
                 {% for each in electroList %}
                 <td> {{each}} </td>
                 {% endfor %}
               </tr>
               <tr class="table-secondary">
                 <th scope="row">Atomic Radius</th>
                 {% for each in rList %}
                  <td> {{each}} </td>
                {% endfor %}
               </tr>
               <tr class="table-success">
                 <th scope="row">Natural State</th>
                 {% for each in sList %}
                 <td> {{each}} </td>
                 {% endfor %}
               </tr>
               <tr class="table-danger">
                 <th scope="row">Year Discovered</th>
                 {% for each in yList %}
                 <td> {{each}} </td>
                 {% endfor %}
               </tr>
               <tr class="table-info">
                 <th scope="row">Blurb</th>
                 {% for each in bList %}
                 <td> {{each}} </td>
                 {% endfor %}
                 </tr>
             </tbody>
           </table>
         </div>
       </div>


    </center>




    {% endblock %}
  </body>
</html>
