{% extends 'base.html' %}
<html>

  <head>
    {% block head %}
    <title> Information </title>
    {% endblock %}

    {% block content %}
    <body style="background-color:#E7C8DD">

    <center>
      <br>
    <h1> Physics Simulations</h1>
<br>
<br>
<a href="/electric" class="btn btn-success"> Electric Field </a><br><br>
<a href="/projectile" class="btn btn-warning"> Projectile Motion </a><br><br>
<a href="/coulomb" class="btn btn-danger"> Coulomb's Law </a><br><br>

<br>
<br>

</center>



    {% endblock %}
  </body>
</html>
