{% extends 'base.html' %}
<html>

  <head>
    {% block head %}
    <title> Information </title>
    {% endblock %}

    {% block content %}
    <body style="background-color:#E7C8DD">

    <center>
      <br>
      <div class="callout primary" data-closable="slide-out-right">
    <h3> You requested information on {{dStr}}!</h3>
   </div>
   <br>
   <table id="example" class="display" style="width:100%">
					<thead>
						<tr>
<th> Information </th>
{% for each in eList %}
<th> {{each}} </th>
{% endfor %}


						</tr>
					</thead>
					<tbody>
						<tr>
<td> Mass </td>
{% for each in mList %}
<td> {{each}} </td>
{% endfor %}


						</tr>
						<tr>
              <td> Electronegativity </td>
              {% for each in electroList %}
              <td> {{each}} </td>
              {% endfor %}

						</tr>
						<tr>
              <td> Atomic Radius </td>
              {% for each in rList %}
              <td> {{each}} </td>
              {% endfor %}
						</tr>
						<tr>
              <td> Natural State </td>
              {% for each in sList %}
              <td> {{each}} </td>
              {% endfor %}
						</tr>
						<tr>
              <td> Year Discovered </td>
              {% for each in yList %}
              <td> {{each}} </td>
              {% endfor %}

						</tr>
						<tr>
              <td>
              Blurb </td>
              {% for each in bList %}
              <td> {{each}} </td>
              {% endfor %}
						</tr>

				</table>
    </center>
    {% endblock %}
  </body>
</html>
