{% extends 'base.html' %}
<html>

  <head>
    {% block head %}
    <title> Information </title>
    {% endblock %}

    {% block content %}
    <body style="background-color:#E7C8DD">

    <center>
      <br>
      <div class="callout primary" data-closable="slide-out-right">
    <h3> Subtle Asian Studying</h3>
   </div>
   <div class="grid-x grid-padding-x">
   <div class="large-12 cell">
     <div style="background-color:#B48EAE;"class="primary callout">
                   <p>Subtle Asian Studying is a website designed to help students with chemistry and physics with both an interactive periodic table of elements and physics simulations. The user can choose which subject to study on the homepage, each link leading to their respective pages. The chemistry side will have the periodic table where the user can hover over each element to see more details about them. The physics side will have a plethora of simulations to choose from, where the user can adjust parameters to see its effect on the phyiscal phenomena.</p>
     </div>
   </div>
             </div>

             <div class="grid-x grid-padding-x">

   <div class="large-6 medium-6 cell">
     <a href="/chem">

     <div style="background-color:#00798C;" class="primary callout">

                   <p>An interactive Periodic Table.</p>
     </div>
   </a>

   </div>

   <div class="large-6 medium-6 cell">
     <a href="/physics">
     <div style="background-color:#00798C;" class="primary callout">
                   <p>A selection of interactive Physics Simulations.</p>
     </div>
   </a>
 </div>
</div>


   <br>

    </center>




    {% endblock %}
  </body>
</html>
