{% extends 'base.html' %}
<html>

  <head>
    {% block head %}
    <title> Information </title>
    {% endblock %}

    {% block content %}
    <body style="background-color:#E7C8DD">

    <center>
      <br>
      <div class="callout primary" data-closable="slide-out-right">
    <h3> Subtle Asian Studying</h3>
   </div>
   <div class="grid-x grid-padding-x">
   <div class="large-12 cell">
     <div style="background-color:#B48EAE;"class="primary callout">
                   <p>Lorem ipsum dolor amet sustainable meggings shaman, photo booth flexitarian lumbersexual chicharrones gochujang normcore vexillologist quinoa williamsburg jianbing. Yr photo booth franzen, master cleanse vape hell of hashtag jean shorts banjo helvetica vaporware tilde disrupt artisan tumblr. Cred cliche brooklyn, XOXO dreamcatcher pork belly green juice prism mumblecore fam squid. Hot chicken tousled heirloom, pug iceland sriracha photo booth lyft shoreditch tumblr umami copper mug kickstarter. Vice keffiyeh flannel gentrify pitchfork vexillologist pug. Plaid street art waistcoat, cliche photo booth yuccie PBR&B bespoke literally truffaut etsy beard kickstarter.</p>
     </div>
   </div>
             </div>

             <div class="grid-x grid-padding-x">

   <div class="large-6 medium-6 cell">
     <a href="/chem">

     <div style="background-color:#00798C;" class="primary callout">

                   <p>Hell of keytar put a bird on it, jianbing mumblecore woke paleo tattooed franzen iPhone hoodie selvage gastropub. Bitters church-key shabby chic pitchfork asymmetrical wolf. Marfa letterpress next level artisan, wolf hella aesthetic tote bag cold-pressed beard plaid pour-over. Trust fund narwhal locavore cold-pressed intelligentsia edison bulb shabby chic raw denim. Skateboard fingerstache cliche celiac green juice tacos. Microdosing plaid 3 wolf moon, salvia hoodie health goth try-hard offal.</p>
     </div>
   </a>

   </div>

   <div class="large-6 medium-6 cell">
     <a href="/physics">
     <div style="background-color:#00798C;" class="primary callout">
                   <p>Hell of keytar put a bird on it, jianbing mumblecore woke paleo tattooed franzen iPhone hoodie selvage gastropub. Bitters church-key shabby chic pitchfork asymmetrical wolf. Marfa letterpress next level artisan, wolf hella aesthetic tote bag cold-pressed beard plaid pour-over. Trust fund narwhal locavore cold-pressed intelligentsia edison bulb shabby chic raw denim. Skateboard fingerstache cliche celiac green juice tacos. Microdosing plaid 3 wolf moon, salvia hoodie health goth try-hard offal.

</p>
     </div>
   </a>
 </div>
</div>

             <div class="grid-x grid-padding-x">
   <div class="large-12 cell">
     <div class="large-4 medium-4 cell">
       <h4>push my buttons</h4>
       <p><a style="background-color:#30638E;" href="#" class="tiny button">smol button</a><br/>
         <a  style="background-color:#D14958; color:white;"  class="success button expanded">expanded success button</a>
         <a style="background-color:#003D58;" class="disabled alert button">Disabled Alert Button</a><br>

         <a style="background-color:#00798C"; class="alert button small">small alert button</a><br/>
         <label style="background-color:#30638E" for="exampleFileUpload" class="button">Upload File Button</label>
<input type="file" id="exampleFileUpload" class="show-for-sr">
         <div >
     <a style="background-color:#D14958" class="button float-left">Floating Left Button</a>
     <a style="background-color:#D14958" class="button float-right">Floating Right Button</a>
   </div>
     </div>
   </div>
       </div>
     </div>
   </div>

   <br>

    </center>




    {% endblock %}
  </body>
</html>
