<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
 p,h1,h2,h3,button {
   font-family:"Futura";
   color:#374785
 }
 body{
   background-image:url("background.png");
 }
 /* #buttons {
   text-align: center;
 } */
 </style>

    <title> Electric Field</title>
  </head>
  <br>
  <br>
  <a href="/"></a>
  <button type="button" href="/" style="margin-left: 40px; background-color:white; border-color:#24305E; color:#374785;" class="btn btn-outline-light btn-lg">subtle asian studying</button>
<body>
  <title> Electric Field </title>
  <h1 class="text-center"> Electric Field Simulation</h1><br>
    <div id="playground">
      <div id="buttons">
        <button id="chargePositive" class="btn btn-outline-danger float-right">
          POSITIVE
        </button>
        <button id="chargeNegative" class="btn btn-outline-primary float-right">
          NEGATIVE
        </button>
      </div>
      <!--button id="arrange">
        arrange
      </button-->
    </div>

    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="../three.js/examples/renderers/Projector.js"></script>
    <script src="{{ url_for('static', filename='js/physics.js') }}"></script>
</body>
