{% extends 'base.html' %}
<html>

  <head>
    {% block head %}
    <title> Information </title>
    {% endblock %}

    {% block content %}
    <body style="background-color:#E7C8DD">

    <center>
      <br>
    <h1> Physics Simulation</h1>
<br>
<br>
<a href="" class="btn btn-outline-info"> Round Button </a>
<a href="" class="btn btn-outline-info"> Round Button </a>
<a href="" class="btn btn-outline-info"> Round Button </a>
<a href="" class="btn btn-outline-info"> Round Button </a>
<br>
<a href="" class="btn btn-outline-info"> Round Button </a>
<a href="" class="btn btn-outline-info"> Round Button </a>
<a href="" class="btn btn-outline-info"> Round Button </a>
<a href="" class="btn btn-outline-info"> Round Button </a>

<br>
<br>

</center>



    {% endblock %}
  </body>
</html>
